torch
transformers
faiss-gpu
sentence-transformers
langchain-core
langchain
langchain-community
langchain-agents
chroma-db
langchain-tools
langchain-text-splitter
langchain-memory
numpy
scikit-learn
datasets
beautifulsoup4
tiktoken
python-dotenv
langchain
langchain-community
langchain-experimental
transformers
neo4j
wikipedia-api
torch
